<mat-toolbar color="basic">
  <span>Conduit</span>
  <span class="spacer"></span>

  <button *ngIf="!isAuthenticated" mat-button>Wecome, guest!</button>
  <button *ngIf="isAuthenticated" mat-button>{{currentUser?.username}}</button>
  <div *ngIf="!isScreenSmall">

    <button *ngIf="!isAuthenticated" mat-button (click)="openAuthDialog()">Sign in</button>
    <button *ngIf="isAuthenticated" mat-button (click)="signOut()">Sign out</button>
    <!-- <a mat-button routerLink="/conduit/login">Login</a>
        <a mat-button routerLink="/conduit/register">Register</a>   -->
  </div>
  <div *ngIf="isScreenSmall">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- <button *ngIf="!isAuthenticated" mat-button >Wecome, guest!</button>
        <button *ngIf="isAuthenticated" mat-button >{{currentUser?.username}}</button>
        <br> -->
      <button *ngIf="!isAuthenticated" mat-button (click)="openAuthDialog()">Sign in</button>
      <button *ngIf="isAuthenticated" mat-button  (click)="signOut()">Sign out</button>
      <!-- <a mat-button routerLink="/login">Login</a><br>
        <a mat-button routerLink="/register">Register</a>  -->
    </mat-menu>
  </div>
</mat-toolbar>
