<div class="main-content-container">
  <mat-toolbar color="primary" class="app-home-slide mat-elevation-z10">
    <h1 class="app-home-slide-title">
      <div>
        Jian's<br>
        &nbsp;<br>
        Code Camp
      </div>
    </h1>
  </mat-toolbar>
  <div class="app-home-cards" fxLayoutAlign="space-around center">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon color="primary">thumb_up</mat-icon>
        </div>
        <mat-card-title>Conduit</mat-card-title>
        <mat-card-subtitle>Real world angular app</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          This is a DIY exercise to build an application with
          <a mat-line href="https://conduit.productionready.io/api" target="_blank">live APIs</a>
          hosted by
          <a mat-line href="https://github.com/gothinkster/angular-realworld-example-app"
            target="_blank">GoThinkster</a>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/conduit']">
          VIEW
        </a>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon color="primary">contacts</mat-icon>
        </div>
        <mat-card-title>Contacts</mat-card-title>
        <mat-card-subtitle>Contacts Manager Application</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          This is a DIY exercise on Angular Material. 
          The reference is Towfeek's Styling with Angular Material
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/contactmanager']">
          VIEW
        </a>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon color="primary">directions_car</mat-icon>
        </div>
        <mat-card-title>Self Driving Car</mat-card-title>
        <mat-card-subtitle>Neural Network</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          This is a DIY exercise of Self Driving Car. 
          The reference is Dr. Radu Mariescu-Istodor's YouTube videos. 
          <a mat-line href="https://www.youtube.com/playlist?list=PLB0Tybl0UNfYoJE7ZwsBQoDIG4YN9ptyY"
          target="_blank">YouTube videos</a>           
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="https://plnkr.co/edit/vD67W10VBT2v7kQP?preview" target="_blank">
          TRAINED
        </a>
        <a mat-button href="https://plnkr.co/edit/DrbDSceCISy8UxQa?preview" target="_blank">
          UN-TRAINED
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
